# Windows

.DS_Store
Thumbs.db
Desktop.ini

# LibreOffice

.~lock.*

# Latex

*.aux
*.lof
*.log
*.lol
*.out
*.synctex
*.toc
*.*(busy)
*.tps
*.dvi

# Bibtex

*.bbl
*.blg

# Output

*.pdf
*.ps
*.dvi

# Data #

*.dia~